.currency-wrapper{

background:#dfe7e2;

padding:25px;

border-radius:30px;

max-width:1200px;

margin:auto;

font-family:Arial;

}

.currency-title{

font-size:18px;

font-weight:600;

margin-bottom:15px;

}

.currency-slider{

display:flex;

align-items:center;

gap:10px;

}

.currency-box{

display:flex;

gap:40px;

overflow-x:auto;

scroll-behavior:smooth;

flex:1;

background:#f3f5f4;

padding:20px;

border-radius:15px;

}

.currency-box::-webkit-scrollbar{
display:none;
}

.currency-item{

display:flex;

flex-direction:column;

align-items:center;

font-size:14px;

min-width:150px;

}

.currency-item label{

font-size:11px;

color:#666;

margin-bottom:4px;

}

.currency-item img{

width:30px;

margin-top:6px;

}

.base{

flex-direction:row;

gap:10px;

background:#e8edf1;

padding:10px 18px;

border-radius:10px;

}

.currency-arrow{

width:40px;

height:40px;

border:none;

background:#e6e9ec;

border-radius:8px;

cursor:pointer;

font-size:18px;

}

.currency-arrow:hover{

background:#d5dadd;

}